<div class="mt-3">
<h2><span class="bg-secondary text-white">管理者ログイン</span></h2>

<center>
<%= form_with model: @admin, url: new_admin_session_path do |f| %>
  <div class="field">
    <%= f.label "メールアドレス" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label "パスワード" %>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>



  <div class="actions">
    <%= f.submit "ログイン" , class: "btn btn-info" %>

  </div>
<% end %>
</center>

<%= render "admin/shared/links" %>
